<div class="m-3 container mx-auto">
    <div class="m-5">
        <h1 class="text-center">Lista de Usuarios</h1>
    </div>
    <div class="table-responsive m-1">
        <table class="table table-bordered">
            <thead>
                <tr class="text-center">
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Ubicacion</th>
                </tr>
            </thead>
            <tbody *ngFor="let user of lista">
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address.street}}, {{user.address.suite}}, {{user.address.city}}</td>
                    <td class="text-center"><a class="btn btn-primary" href="https://maps.google.com/?q={{user.address.geo.lat}},{{user.address.geo.lng}}" target="_blank"><i class="bi bi-geo-alt-fill"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>